# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv/
env/
ENV/
Pipfile.lock

# Django stuff:
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/

# Django local settings
local_settings.py

# Celery
celerybeat-schedule
celerybeat.pid

# Environment variables
.env
.env.*

# VSCode / PyCharm
.vscode/
.idea/

# Docker
*.pid
*.sock
*.db
*.tar
*.log
docker-compose.override.yml

# Build artifacts
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg

# Redis dump file
dump.rdb

# Coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Migrations (opcional, si no quieres trackearlas al principio)
**/migrations/*.py
!**/migrations/__init__.py
